<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="..\AppOffline.exe" stdoutLogEnabled="false" startupTimeLimit="3600"/>
  </system.webServer>
</configuration>